@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Playfair Display', 'Libre Baskerville', 'Cormorant Garamond',
      sans-serif;
  }

  h1,
  h2 {
    font-family: 'Pinyon Script', serif;
  }
}

.word-spacing-4 {
  word-spacing: 2px;
}
